<div class="collapse navbar-collapse" id="nav">
	<!-- main navbar -->
	<ul class="nav navbar-nav">
	<li class="dropdown" style="white-space:nowrap;">
			<div class="img hidden-xs">
			<img src="assets/img/importante.png" height="25" width="25" alt="image description">
			<a href="page.php?text=comefunziona" class="dropdown-toggle" ><strong>IMPORTANTE</strong></a>
			</div>
			<a href="page.php?text=comefunziona" class="dropdown-toggle visible-xs"><strong>IMPORTANTE</strong></a>
		</li>
		<li class="dropdown" style="white-space:nowrap;">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>Esperienze</strong></a>
			<div class="dropdown-menu">
				<ul>
					<li ng-repeat="master in elencoMaster" ng-if="master.id">
						<a href="#" ng-click="ricercaAttivitaByMaster(master.id, master.MasterName)" >{{master.MasterName}}</a>
					</li>
				</ul>
			</div>
		</li>	
		
		<li class="dropdown" style="white-space:nowrap;">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>Informazioni</strong></a>
			<div class="dropdown-menu">
				<ul>
					<li><a href="#" ng-click="goHome('come-funziona')">Come funziona</a></li>
					<li><a href="#" ng-click="goHome('cosa-trovo')">Cosa trovo</a></li>
					<li><a href="#" ng-click="goHome('tantosvago-welfare')">Chi Siamo</a></li>
					<li><a href="page.php?text=contatti">Contatti</a></li>
					<li><a href="page.php?text=condizionidivendita">Condizioni di Vendita e utilizzo</a></li>
				</ul>
			</div>
		</li>
		
		<li class="dropdown" style="white-space:nowrap;">
		<a href="prenotazione.php"><strong>Prenota</strong>
			<i class="material-icons" style="vertical-align: middle;">event_available</i>
			</a>
		
		</li>
		<li class="dropdown hidden-xs" style="white-space:nowrap;">
			<span class="icon icon-user" style="margin-top:-4px;"></span>
			<span class="text" style="margin-top:-4px;">{{loginName}}</span>
		</li>
	</ul>
</div>