
			
    <div class="menu-wrap">
        <!-- <?php include '_sidebar-mobile-home.php';?> -->
        <button class="close-button close-button-home" id="close-button">Close Menu</button>
    </div> 

    <div class="panel-button-container tab" style="text-align: center;padding: 0 20px; ">
        <button class="menu-button tablinks tablink-esperienze active button-menu-mobile" id="open-button" style="border-radius: 20px !important;"><span class="icon-search">
                    </span><b>CLICCA QUI</b> e trova l'attività perfetta per te</button>
    </div>

    <div class="banner banner-home" hidden-xs>
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="tantosvago" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.4.1">
        <ul>	<!-- SLIDE  -->
            <li data-index="rs-3" data-transition="scaledownfromright,fade" data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default" data-easeout="default,default" data-masterspeed="default,default"  data-rotate="0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="assets/img/62506-slider_1.jpg"  alt=""  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="50 0" data-offsetend="70 0" class="rev-slidebg" data-no-retina>
                <!-- LAYER NR. 3 -->

                    <div class="tp-caption banner-heading-sub tp-resizeme rs-parallaxlevel-10"  
                        data-x="['right','right','right','right']" 
                        data-hoffset="['0','0','0','0']" 
                        data-y="['top','top','middle','middle']" 
                        data-voffset="none" 
                        data-fontsize="['60','60','60','40']" 
                        data-lineheight="['110','110','100','60']"
                        data-width="none"
                        data-height="none"
                        data-transform_idle="o:1;" 
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 8; padding-right: 300px; margin-top:100px; text-indent: 5px; font-weight:100; white-space: nowrap;"><strong>ESPLORA</strong><br>NUOVE DESTINAZIONI 
                    </div>

                    

                <!-- LAYERS -->

                
                <!-- LAYER NR. 2 -->
                
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-8" data-transition="scaledownfromright,fade" data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default" data-easeout="default,default" data-masterspeed="default,default"  data-rotate="0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- LAYER NR. 3 -->
                        
                    

                <!-- MAIN IMAGE -->
                <img src="assets/img/2ce9f-slider_2.jpg"  alt=""  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="50 0" data-offsetend="70 0" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
    <div class="tp-caption banner-heading-sub tp-resizeme rs-parallaxlevel-10"  
                        data-x="['right','right','right','right']" 
                        data-hoffset="['0','0','0','0']" 
                        data-y="['top','top','middle','middle']" 
                        data-voffset="none" 
                        data-fontsize="['60','60','60','40']" 
                        data-lineheight="['110','110','100','60']"
                        data-width="none"
                        data-height="none"
                        data-transform_idle="o:1;" 
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        style="z-index: 8; padding-right: 300px; margin-top:100px; text-indent: 5px; font-weight:100; white-space: nowrap;">VIVI FANTASTICHE<br><strong>AVVENTURE</strong>
                    </div>
                    
                
                <!-- LAYER NR. 4 -->
                
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
        </div>
        <!-- END REVOLUTION SLIDER -->
        
        <div class="banner-text">
            <div class="center-text">
                <form class="trip-form" [formGroup]="tripForm" (ngSubmit)="formSearch()">
                    
                    <div class="tab">
                      <button (click)="changeMasterType('Esperienze')" class="tablinks tablink-esperienze" onclick="openTabForm(event, 'Esperienze')" style="width:100%;">ESPERIENZE</button>
                    </div>

                    <div id="Esperienze" class="tabcontent">
                    
                        <fieldset>

                            <div class="holder">
                                <label for="destination" style="text-transform:none;">Nazione</label>
                                <div class="select-holder">
                                    <select class="trip dark" formControlName="country">
                                        <option value="">TUTTE LE NAZIONI</option>
                                    </select>
                                </div>
                            </div>

                            <div class="holder holder-half">
                                <label for="destination" style="text-transform:none;">Regione</label>
                                <div class="select-holder">
                                    <select class="trip dark" formControlName="county">
                                        <option value="">TUTTE LE REGIONI</option>
                                        <!-- <option *ngFor="let regione of regioni.regionSelector" value="regione.nome">{{regione.nome}}</option> -->
                                    </select>
                                </div>
                            </div>
                    
                            <div class="holder holder-half">
                                <label for="destination" style="text-transform:none;">Provincia</label>
                                <div class="select-holder">
                                    <select class="trip dark" formControlName="province">
                                        <option value="">TUTTE LE PROVINCE</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="holder holder-half">
                                <label for="adventure" style="text-transform:none;">Categoria</label>
                                <div class="select-holder">
                                    <select class="trip dark" formControlName="category">
                                        <option value="">TUTTE LE CATEGORIE</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="holder holder-half">
                                <label for="partecipanti" style="text-transform:none;">Partecipanti</label>
                                <div class="select-holder">
                                    <select class="trip dark" id="partecipanti" formControlName="num_people">
                                        <option value="">TUTTI</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="holder">
                                <label for="partecipanti" style="text-transform:none;">Ricerca Libera</label>
                                <div class="select-holder">
                                    <input type="text" placeholder="Inserisci il testo da cercare" class="price-input testo-ricerca" formControlName="free_search">
                                </div>
                            </div>
                            
                            <div class="holder">
                                <label for="price" style="text-transform:none;">Fascia di Prezzo</label>
                                <!--
                                <div class="panel-body fascia-prezzo" id="price">
                                    <div range-slider min="0" max="500" step="10" model-min="formSearch.fasciaPrezzo.min" model-max="formSearch.fasciaPrezzo.max"></div>
                                    
                                    <span class="slider-span"><span>&euro;{{formSearch.fasciaPrezzo.min}}</span> - <span ng-if="formSearch.fasciaPrezzo.max==500">Oltre &euro;500</span><span ng-if="formSearch.fasciaPrezzo.max<500">&euro;{{formSearch.fasciaPrezzo.max}}</span></span>
                                
                                </div>
                                -->
                                
                                <div class="panel-body fascia-prezzo" id="price">
                                    <div class="holder holder-half fascia-prezzo-container-left">
                                        <label for="price" style="text-transform:none;">Da €</label>
                                        <input type="number" class="price-input testo-ricerca price-range" formControlName="price_min">
                                    </div>
                                    <div class="holder holder-half fascia-prezzo-container-right">
                                        <label for="price" style="text-transform:none;">A €</label>
                                        <input type="number" class="price-input testo-ricerca price-range" formControlName="price_max">
                                    </div>
                                </div>
                                
                                
                            </div>
                        
                            <div class="holder">
                                <button type="submit" class="btn btn-default btn-green btn-3-column sidebar-filtri-button">CERCA</button>
                            </div>
                        </fieldset>
                    
                    
                    </div>

                    <button id="link_vendute" class="button-preferite">
                        
                        <table>
                            <tr>
                                <td class="col-icon">
                                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                                        <a href="#set-1" class="hi-icon"><span class="icon-heart"></span></a>
                                    </div>
                                </td>
                                <td class="col-text">
                                    <h3 style="font-size: 1.25em; color: #fff; ">Scopri le attività<strong><br>PREFERITE DAI CLIENTI</strong></h3>
                                </td>
                            <tr>	
                        </table>
                        
                    </button>
                    
                </form>
            </div>
        </div>
        
        <div class="feature-block" *ngIf="masterType==='Esperienze'">
            <div class="holder">
                <ul>
                    <!-- <li ng-repeat="let maaster in elencoMaster" ng-if="master.id"> -->
                    <li>
                        <a href="#" (click)="ricercaAttivitaByMaster(master.id, master.MasterName)">
                            <span class="ico">
                                <img src="{{icon}}">
                            </span>
                            <span class="info">{{master.MasterName}}</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        
        <div class="banner-text hidden-xs hidden-sm" style="margin-left: 75% !important;">
            <div class="center-text tripspazio">
                <form class="trip-formloghi">
                    <div align="center" >
                        <h3 style="color: #fff !important;">In evidenza</h3>
                    </div>		

                    <div class="carousel-container">
                        <div class="holder holder-half carousel-slide" align="center">
                            <a href="javascript:void(0);" (click)="ricercaAttivitaTesto('Virgin active')"><img src="/assets/img/logos/clienti/virgin.png"></a>
                        </div>
                        
                        <div class="holder holder-half carousel-slide" align="center" >
                            <a href="javascript:void(0);"
                            (click)="ricercaAttivitaTesto('ZENAIS')"><img src="/assets/img/logos/clienti/edicola_home.png"></a></div>
                            <div class="holder holder-half carousel-slide" align="center">
                            <a href="javascript:void(0);" (click)="ricercaAttivitaTesto('Quomi')"><img src="/assets/img/logos/clienti/quomi.png"></a>
                        </div>
                        <div class="holder holder-half carousel-slide" align="center">
                            <a href="javascript:void(0);" (click)="ricercaAttivitaTesto('Snowit')"><img src="/assets/img/logos/clienti/snowit.png"></a>
                        </div>
                        <div class="holder holder-half carousel-slide" align="center">
                            <a href="javascript:void(0);" (click)="ricercaAttivitaTesto('MYWELLNESSTIME')"><img src="/assets/img/logos/clienti/wellink.png"></a>
                        </div>
                        <div class="holder holder-half carousel-slide" align="center" >
                            <a href="javascript:void(0);" (click)="ricercaAttivitaTesto('carschool')"><img src="/assets/img/logos/clienti/carschool.png"> </a>
                        </div>
                        <div class="holder holder-half carousel-slide" align="center">
                            <a href="javascript:void(0);" (click)="ricercaAttivitaTesto('C-WAY')"><img src="/assets/img/logos/clienti/genova.png"></a>
                        </div>
                        <div class="holder holder-half carousel-slide" align="center">
                            <a href="javascript:void(0);" (click)="ricercaAttivitaTesto('Aero Gravity')"><img src="/assets/img/logos/clienti/aerogravity.png"></a>
                        </div>
                        <div class="holder holder-half carousel-slide" align="center" >
                            <a href="javascript:void(0);" (click)="ricercaAttivitaTesto('Sharewood')"><img src="/assets/img/logos/clienti/sharewood.png"></a>
                        </div>
                        <div class="holder holder-half carousel-slide" align="center" >
                            <a href="javascript:void(0);" (click)="ricercaAttivitaTesto('Destination Venice')"><img src="/assets/img/logos/clienti/venice.png"> </a>
                        </div>
                    </div>	
                </form>
            </div>
        </div>
        
        
        
    </div>
    <!-- main container -->
    <a name="tantosvago-welfare">
    <section class="content-block guide-sub" style="padding: 60px !important;">
        <div class="container">
            <header class="content-heading">
                <h2 class="main-heading">COS'è TANTOSVAGO WELFARE</h2>
                <span class="main-subtitle">Un mondo di soluzioni di viaggio e divertimento riservato per la tua azienda</span>
                <div class="seperator"></div>
            </header>
            <div class="row guide-info">
                <div class="col-sm12">
                    <div class="description"> 
                        <p style="text-align:justify;"><strong>Tantosvago</strong> è un agenzia di viaggio online che ha creato un sito di facile consultazione che ti rende disponibile oltre 18.000 attività ed esperienze acquistabili grazie al tuo credito welfare. Beneficerai delle condizioni eccezionali che abbiamo riservato a te e alla tua azienda. Puoi scegliere tra Benessere, Estetica, SPA, Terme, Parchi, Sport, Fitness, Guida e Motori, Volo, Corsi di cucina e tanti tanti soggiorni. E se esaurisci il tuo credito welfare, non preoccuparti, potrai continuare i tuoi acquisti alle stesse condizioni con la tua carta di credito. Potrai scegliere con tutta calma quando effettuare l'attività, il tuo voucher vale 12 mesi. E nessun problema per la disponibilità e la prenotazione, il servizio prenotazione è a tua disposizione al numero dedicato.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <a name="vendute" id="vendute"></a>
    
    <div class="content-block content-spacing">
    <div class="container">
        <header class="content-heading">
            <h2 class="main-heading">SCOPRI</h2>
            <span class="main-subtitle">la ricerca semplificata</span>
            <div class="seperator"></div>
        </header>
        <div class="content-holder">
            <div class="row db-3-col">
                
                <article *ngFor="let tag of tagsList" class="col-sm-4 col-md-3 col-xs-6 article" style="margin-top: 0px !important;margin-bottom:20px;">
                    <div class="hovereffect">
                        <div class="gallery-border">
                        </div>
                        
                        <img class="img-responsive" src="assets/img/cluster/{{tag.TagImg}}" alt="">
                        <div class="overlay">
                           <h2>{{tag.TagTitle}}</h2>
                           <h3>{{tag.TagSubTitle}}</h3>
                           <a class="info info-cluster" href="#" (click)="searchByTag(tag.TagId)">SCOPRI</a>
                        </div>
                            
                        
                    </div>
                
                    
                </article>

            </div>
        </div>
    </div>
</div>				
    
    
    <a name="come-funziona">
    <div class="content-block bg-white content-center" style="padding: 80px !important;">
    <div class="container">
        <header class="content-heading">
            <h2 class="main-heading">COME FUNZIONA TANTOSVAGO WELFARE</h2>
                
            <div class="seperator"></div>
        </header>
                <div class="row text-center">
                    <div class="col-sm-3 article">
                        <div class="img-wrap1">
                            <img width="50" src="assets/img/icons/naviga.png" alt="image description">
                        </div>
                        <div class="description">
                            <h3>1. ACCEDI</h3>
                            <p>Sei entrato nel catalogo Tantosvago Experience dal tuo portale Welfare. Ricordati, prima di navigare, di consultare la pagina <a href="page.php?text=comefunziona" class="dropdown-toggle" ><strong>IMPORTANTE</strong></a></p>
                        </div>
                    </div>
                    <div class="col-sm-3 article">
                        <div class="img-wrap1">
                            <img width="50" src="assets/img/icons/scegli.png" alt="image description">
                        </div>
                        <div class="description">
                            <h3>2. NAVIGA</h3>
                            <p>Naviga nel sito utilizzando i filtri per scegliere tipologia, luogo, numero di partecipanti e trovare l'attività preferita.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 article">
                        <div class="img-wrap1">
                            <img width="50" src="assets/img/icons/acquista.png" alt="image description">
                        </div>
                        <div class="description">
                            <h3>3. ACQUISTA</h3>
                            <p>Inserisci nella piattaforma Welfare codice, importo, descrizione e genera il tuo Voucher Tantosvago</p>
                        </div>
                    </div>
                    <div class="col-sm-3 article">
                        <div class="img-wrap1">
                            <img width="50" src="assets/img/icons/prenota.png" alt="image description">
                        </div>
                        <div class="description">
                            <h3>4. PRENOTA</h3>
                            <p>Per prenotare l'attività usa il servizio di prenotazioni dedicato a te: contatta il numero 848 001 092 oppure scrivi una mail a  assistenza.clienti@tantosvago.it.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
    <a name="cosa-trovo">
    <aside class="count-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-md-3 block-1" style="background-image:url(assets/img/gallery/home_benessere.jpg); background-repeat: no-repeat; background-size:cover;">
                    <div class="holder">
                        <span class="icon icon-water-sea"></span>
                        <span class="info">1200</span>
                        <span class="txt">momenti di relax</span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 block-2" style="background-image:url(assets/img/gallery/home_gusto.jpg); background-repeat: no-repeat; background-size:cover;">
                    <div class="holder">
                        <span class="icon icon-food-wine"></span>
                        <span class="info">640</span>
                        <span class="txt">esperienze gastronomiche</span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 block-3" style="background-image:url(assets/img/gallery/home_soggiorni.jpg); background-repeat: no-repeat; background-size:cover;">
                    <div class="holder">
                        <span class="icon icon-luggage"></span>
                        <span class="info">2850</span>
                        <span class="txt">soggiorni speciali</span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 block-4" style="background-image:url(assets/img/gallery/home_sport.jpg); background-repeat: no-repeat; background-size:cover;">
                    <div class="holder">
                        <span class="icon icon-hiking"></span>
                        <span class="info">1600</span>
                        <span class="txt">attività sportive</span>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    
    <aside class="count-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-md-3 block-6" style="background-image:url(assets/img/gallery/home_volo.jpg); background-repeat: no-repeat; background-size:cover;">
                    <div class="holder">
                        <span class="icon icon-plane"></span>
                        <span class="info">40</span>
                        <span class="txt">esperienze in volo</span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 block-7" style="background-image:url(assets/img/gallery/home_motori.jpg); background-repeat: no-repeat; background-size:cover;">
                    <div class="holder">
                        <span class="icon icon-jeep"></span>
                        <span class="info">180</span>
                        <span class="txt">guide e motori</span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 block-8" style="background-image:url(assets/img/gallery/home_top.jpg); background-repeat: no-repeat; background-size:cover;">
                    <div class="holder">
                        <span class="icon icon-star"></span>
                        <span class="info">150</span>
                        <span class="txt">esperienze top</span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 block-9" style="background-image:url(assets/img/gallery/home_svago.jpg); background-repeat: no-repeat; background-size:cover;">
                    <div class="holder">
                        <span class="icon icon-beach"></span>
                        <span class="info">500</span>
                        <span class="txt">momenti divertenti</span>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    
    

<!-- </div> -->	

<!-- </div> -->