<!-- main footer -->
<footer id="footer">
    <div class="container">
        
        <div class="row row-footer">
            <div class="col-lg-4 col-lg-offset-4 logo-footer">
                <img class="normal center-block" src="assets/img/logos/welfare/tantosvago_welfare_logo.png" alt="TantoSvago">
            </div> 
        </div>
        <!-- footer links -->
        <div class="row footer-holder">
            <nav class="col-sm-12 col-lg-6 footer-nav active">
                <ul class="slide">
                    <li><a href="#">Chi Siamo</a></li>
                    <li><a href="#">Condizioni di Utilizzo</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                </ul>
            </nav>
            <nav class="col-sm-12 col-lg-6 footer-nav">
                <ul class="slide">
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Contatti</a></li>
                    <li><a href="#">Come Funziona</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<!-- </div> --> <!-- check it -->
<!-- scroll to top -->
<div class="scroll-holder text-center">
    <a href="javascript:" id="scroll-to-top"><i class="icon-arrow-down"></i></a>
</div>